@charset "utf-8";
/* CSS Document */

* {
	-webkit-transition: width 1s ease-in-out;
	-webkit-transition-delay: 0.01s;
	-moz-transition: width 1s ease-in-out 0.01s;
	-o-transition: width 1s ease-in-out 0.01s;
	transition: width 1s ease-in-out 0.01s;
}
#wrapper {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 16px;
	font-family: "Times New Roman", Times, serif;
}
#header {
	padding: 32px 0;
	display: flex;
	justify-content: center;
	background: #FFF;
	overflow: hidden;
}
#header ul {
	letter-spacing: 0.2em;
	font-size: 12px;
	float: right;
}
#header li {
	float: left;
}
#header li a {
	color: #000;
	display: block;
	margin: 32px 24px;
 　
}
#header li a:hover {
	color: #1BA5E0;
}
.nli {
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
}
.nli::after {
	position: absolute;
	bottom: 0;
	left: 50%;
	content: '';
	width: 0;
	height: 1px;
	background-color: #1BA5E0;
	transition: .3s;
	transform: translateX(-50%);
}
.nli:hover::after {
	width: 100%;
}
#main {
	overflow: hidden;
	text-align: center;
	letter-spacing: 0.3em;
}
h2 {
	font-size: 48px;
	text-align: center;
	color: #FFF;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: block;
}
#main h3 img {
	margin: 0;
	padding: 0;
	width: 150%;
	height: 150%;
}
#footer {
	padding-top: 80px;
	margin: 0 auto;
	overflow: hidden;
}
.link {
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}
#footer h4 {
	letter-spacing: 0.15em;
	text-align: center;
	padding : 40px 0 20px 0;
}
#footer li {
	width: 50px;
	height: 50px;
	float: left;
}
#footer li:hover {
	transition-duration: 0.3s;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	filter: invert(59%) sepia(60%) saturate(3911%) hue-rotate(164deg) brightness(99%) contrast(80%);
}
#footer p {
	letter-spacing: 0.1em;
	text-align: center;
	padding-bottom: 80px;
}
@media only screen and (max-width: 640px) {
#header {
	padding: 32px 0;
}
#header li {
	font-size: 6px;
	letter-spacing: 0.05em;
}
#header li a {
	color: #000;
	display: block;
	margin: 0;
}
#main h2 {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
}
#main img {
	overflow: hidden;
	width: 100%;
}

/*smartphone*/
 @media only screen and (max-width: 799px) {
#header li {
 font-size:10px;
}
 #header li a {
 color: #000;
 display: block;
 margin: 8px 12px;
 　
}
#main img {
 width: 100%;
}
#main h2 {
 position: absolute;
 top: 50%;
 left: 50%;
 -ms-transform: translate(-50%, -50%);
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 margin: 0;
 padding: 0;
}
